* {
    margin: 0;
    padding: 0;
  }
  
  
  html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #F4B860
  }
  

.main-box{
    overflow: hidden;
    width: 400px;
    height: 400PX;
    background-color: #ffffff;
    outline: 2px;
    outline-style: solid;
    outline-color: #000000;
    border-radius: 2px;
    box-shadow: 10px 10px 7px  #232122;
}

.enemy-nodes{
  z-index: 1;
  width: 25px;
  height: 25px;
  background-color: rgb(0, 0, 0);
}

.n2{
  position: relative;
  left: 50px;
  top: -50px;
}
.n3{
  position: relative;
  left: 100px;
  top: -75px;
}
.n4{
  position: relative;
  left: 150px;
  top: -100px;
}
.n5{
  position: relative;
  left: 200px;
  top: -100px;
}

/* animate new box */
.enemy {
  background-color: aqua;
  position: relative;
  left: 0px;
  right: 0px;
  margin: 0px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.enemy:hover{
  display: none;
}

